* {
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 1%;
    background-color: #2b2b2b;
    border-radius: 4px;
    border: 0.05px solid gray;
}

.menu ul li {
    display: inline;
    padding: 0.55%;
    background-color: #3c3c3c;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 8px;
    border: 0.25px solid white;
    transition: 0.2s ease-out;
}

.menu ul li:hover{
    transition: 0.2s ease-in;
    background-color: #4e4e4e;
}