* {
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a
}

.menu {
    display: flex;
    justify-content: space-between; /* This will space out the left and right items */
    align-items: center; /* Vertically center the items */
    padding: 10px; /* Optional, to add some spacing around the menu */
    background-color: #2b2b2b;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
    padding: 0.55%;
    background-color: #3c3c3c;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.menu .left {
    display: flex;
}

.menu .right {
    display: flex;
}